href {
    color: white;
}
.html {
    background-color: blueviolet;
}
body { 
    background: rgb(13, 22, 13);
}

.rahmen {
    position: fixed;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid azure; 
    border-radius: 30px;
    z-index: -1;
    opacity: 70%;
}

#startGame {
    width: 550px;
    position: absolute;
    left: calc((100% - 550px)/2);
    top: 20px;
    font-family:Chiller, Baskerville Old Face, Calibri;
    font-size: 18pt; 
    color: rgb(194, 207, 207);
    letter-spacing: 0.5px ;
}
.Anleitung {
    width: 550px;
    position: absolute;
    left: calc((100% - 550px)/2);
    top: 20px;
    font-family:Chiller, Baskerville Old Face, Calibri;
    font-size: 18pt; 
    color: rgb(194, 207, 207);
    letter-spacing: 0.5px ;
}


.timer {
    background-color: rgb(215, 227, 227);
    color: rgb(80, 30, 120);
    text-align: center;
    font-family:Chiller, Baskerville Old Face, Calibri;
    font-size: 18pt; 
    border-radius: 10px; 
    padding: 5px;
    display: inline-block; 
    position: fixed;
    bottom: 40px; 
    right: 40px;
  }


.usedTimeDiv{
    width: 450px;
    position: absolute;
    top: calc((100% - 20px)/2);
    left: 50px;
    font-family:Chiller;
    font-size: 23pt;
    text-align: center;
    color: azure;
}

.SwitchButtons {
    width: 450px;
    position: absolute;
    bottom: calc((100% - 20px)/2);
    left: 130px;  
}

.Hinweis{
    color: azure;
    position: absolute;
    bottom: calc((100% - 150px)/2);
    left: 40px;
    align-self: center;
    font-family:Chiller, Baskerville Old Face, Calibri;
    font-size: 15pt;
    text-align: center;
}
.Auswahl {
    width: 450 px;
    background-color: rgb(149, 180, 153);
    color: rgb(13, 22, 13);
    text-align: center;
    font-family: Baskerville Old Face, Calibri;
    font-size: 18pt; 
    border-radius: 10px;
    border: none; 
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    transition: background-color 0.3s ease;
}

.Auswahl:hover {
    background-color: rgb(186, 117, 218);
    box-shadow: inset 0 0 5px 0px rgb(57, 30, 82);
}


.goBack {
    position: absolute;
    width: 70 px;
    background-color: rgb(70, 84, 72);
    color: rgb(13, 22, 13);
    text-align: center;
    font-family: Baskerville Old Face, Calibri;
    font-size: 12pt; 
    border-radius: 10px;
    border: none; 
    padding-left: 10px;
    padding-right: 10px;
    left: 40px;
    top: 40px;
    
}
.goBack:hover {
    background-color: rgb(186, 117, 218);
    box-shadow: inset 0 0 5px 0px rgb(57, 30, 82);
}


.alertWrong{
    position: absolute;
    width: 50px;
    width: 450px;
    position: absolute;
    bottom: calc((100% - 300px)/2);
    left: 20px; 
    font-family:Chiller, Baskerville Old Face, Calibri;
    font-size: 30pt;
    text-align: center;
    color: rgb(207, 109, 222);
}

.alertRight{
    background-color: rgb(13, 22, 13);
    position: absolute;
    width: 50px;
    width: 450px;
    position: absolute;
    bottom: calc((100% - 300px)/2);
    left: 20px; 
    font-family:Chiller, Baskerville Old Face, Calibri;
    font-size: 23pt;
    text-align: center;
    color: rgb(86, 243, 105);
}

.Rezept {
    width: 450px;
    position: absolute;
    top: calc((100% - 400px)/2);
    left: 70px;
    font-family:Chiller, Baskerville Old Face,  Calibri;
    font-size: 23pt;
    text-align: center;
    color: azure;
}

.unten {
    position: absolute;
    width: 500px;
    z-index: 0;
    right:calc((100% - 800px)/2);
}
.oben {
    position: absolute;
    width: 500px;
    z-index: 1;
    right:calc((100% - 800px)/2);
}

.trank {
    position: absolute;
    z-index: 0;
    width: 600px;
    height: 600px;
}

.ingredient1,
.ingredient2,
.Seal{
    position:absolute;
    right:calc((100% - 700px)/2);
    width:600px;
    height:600px;
}

.hidden{
    visibility:hidden;
}


.gameEnd{
    width: 450px;
    position: absolute;
    top: calc((100% - 400px)/2);
    left: calc((100% - 450)/2);
    font-family:Chiller;
    font-size: 23pt;
    color: azure;
}

.congrats {
    visibility: hidden;
    width: 450px;
    position: absolute;
    top: calc((100% - 400px)/2);
    left: 50px;
    font-family:Chiller;
    font-size: 23pt;
    text-align: center;
    color: azure;
}

.playAgain {
    width: 450 px;
    background-color: rgb(149, 180, 153);
    color: rgb(13, 22, 13);
    text-align: center;
    font-family: Baskerville Old Face, Calibri;
    font-size: 18pt; 
    border-radius: 10px;
    border: none; 
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
}