.html {
    background-color: blueviolet;
}
body { background: 
    rgb(16, 28, 17);
}

.Anleitung {
    width: 550px;
    position: absolute;
    left: calc((100% - 550px)/2);
    top:calc((100% - 450px)/2);
    font-family:Chiller;
    font-size: 18pt; 
    color: azure;
}

.SwitchButtons {
    width: 350px;
    position: absolute;
    bottom: calc((100% - 20px)/2);
    left: 50px; 
}

.Rezept {
    width: 450px;
    position: absolute;
    top: calc((100% - 400px)/2);
    left: 50px;
    font-family:Chiller;
    font-size: 23pt;
    color: azure;
}

.unten {
    position: absolute;
    width: 500px;
    z-index: 0;
    right:calc((100% - 800px)/2);
}
.oben {
    position: absolute;
    width: 500px;
    z-index: 1;
    right:calc((100% - 800px)/2);
}

.trank {
    position: absolute;
    z-index: 0;
    width: 600px;
    height: 600px;
}

.ingredient1,
.ingredient2,
.Seal{
    position:absolute;
    right:calc((100% - 700px)/2);
    width:600px;
    height:600px;
    visibility: hidden;
}
